<div id="editview-page-container">

  <h1 class="mdl-typography--display-1 mdl-color-text--primary">
    You are viewing {{ title }}
  </h1>

  <a href="/choose" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Change service
  </a>

  <!-- Response messages will be shown here. -->
  <span id="user-message-field"></span>

  <div class="mdl-grid" id="image-container">
    <div class="mdl-cell mdl-cell--11-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
      <div id="dropzone">
        <img src="/images/placeholder_image2.png"
             alt="Preview of loaded image"
             id="editable-image" />
        <!--<h2>Click or drop your image here</h2>-->
      </div>
    </div>
    <div class="mdl-cell mdl-cell--1-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" id="action-buttons-field">
      <div id="choose-button-field">

        {{#if local}}
          <label for="input"
                 aria-label="Choose image"
                 title="Choose image"
                 id="choose-button"
                 class="label-class
                        mdl-button
                        mdl-js-button
                        mdl-button--fab
                        mdl-button--primary">
            <i class="material-icons">
              image
            </i>
            <input type="file"
                   id="input"
                   multiple accept="image/png, image/jpg, image/jpeg" />
          </label>
        {{else}}
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--primary"
                  aria-label="Choose image"
                  title="Choose image"
                  id="choose-button">
            <i class="material-icons">
              photo
            </i>
          </button>
        {{/if}}

      </div>
      <span id="edit-button-field"></span>
      <span id="download-button-field"></span>
      <span id="save-button-field"></span>
    </div>
  </div>
  <div class="spinner is-hidden">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
  <div id="success-toast" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>

</div>