<div class="mdl-grid mdl-grid--no-spacing" id="editor-grid">
  <div class="mdl-cell mdl-cell--12-col" id="image-preview-cell">

    <img src="/images/polaroid.png"
         alt="Preview of loaded image"
         id="image-preview" />

  </div>
  <div class="mdl-cell mdl-cell--12-col" id="buttons-field">
    <span id="choose-button-field"></span>
    <span id="edit-button-field"></span>
    <span id="save-button-field"></span>
  </div>
</div>