<header class="mdl-layout__header mdl-layout__header--transparent">
  <div class="mdl-layout__header-row">
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation mdl-layout--large-screen-only" id="top-right-nav">
      <a class="mdl-navigation__link" href="https://www.facebook.com/wictor.kihlbaum">
        <img src="/images/facebook-large.png" alt="Facebook logo" title="Visit my Facebook" aria-label="Visit my Facebook" />
      </a>
      <a class="mdl-navigation__link" href="https://twitter.com/WictorKihlbaum">
        <img src="/images/twitter-large.png" alt="Twitter logo" title="Visit my Twitter" aria-label="Visit my Twitter" />
      </a>
      <a class="mdl-navigation__link" href="https://github.com/WictorKihlbaum">
        <img src="/images/github-large.png" alt="GitHub logo" title="Visit my GitHub" aria-label="Visit my GitHub" />
      </a>
    </nav>
  </div>
</header>