<div class="mdl-grid" id="index-grid">
  <div class="mdl-cell mdl-cell--12-col" id="logo-cell">
    <h1 class="mdl-typography--display-4" id="blippics-topic">
      Blippics
    </h1>
  </div>
  <div class="mdl-cell mdl-cell--12-col" id="button-cell">

    <a href="/#editor"
       class="mdl-button
              mdl-js-button
              mdl-button--raised
              mdl-js-ripple-effect
              mdl-button--primary
              mdl-shadow--4dp"
       id="home-button"
       title="Edit your image"
       aria-label="Edit your image">
      Edit Your Image
      <i class="material-icons">
        arrow_drop_down
      </i>
    </a>

    <a href="/#about"
       class="mdl-button
              mdl-js-button
              mdl-button--fab
              mdl-js-ripple-effect
              mdl-button--colored
              mdl-shadow--4dp"
       id="about-button"
       title="About Blippics"
       aria-label="About Blippics">
      <i class="material-icons">
        info_outline
      </i>
    </a>

    <a href="/#contact"
       class="mdl-button
              mdl-js-button
              mdl-button--fab
              mdl-js-ripple-effect
              mdl-button--colored
              mdl-shadow--4dp"
       id="about-button"
       title="Contact me"
       aria-label="Contact me">
      <i class="material-icons">
        contact_mail
      </i>
    </a>

  </div>
</div>