<div class="mdl-grid" id="index-grid">
  <div class="mdl-cell mdl-cell--12-col" id="logo-cell">
    <h1 class="mdl-typography--display-4" id="blippics-topic">
      Blippics
    </h1>
    <h2 class="mdl-typography--display-4" id="blippics-sub-topic">
      Sublime your images.
    </h2>
  </div>
  <div class="mdl-cell mdl-cell--12-col" id="button-cell">

    <!-- About button -->
    <a href="/#about"
       class="mdl-button
              mdl-js-button
              mdl-button--fab
              mdl-js-ripple-effect
              mdl-button--colored"
       id="about-button"
       title="About Blippics"
       aria-label="About Blippics">
      <i class="material-icons">
        info_outline
      </i>
    </a>

    <!-- Start editing button -->
    <a href="/#editor"
       class="mdl-button
              mdl-js-button
              mdl-button--raised
              mdl-js-ripple-effect
              mdl-button--primary"
       id="home-button"
       title="Edit your image"
       aria-label="Edit your image">
      Edit An Image
      <i class="material-icons">
        arrow_downward
      </i>
    </a>

    <!-- Contact me button -->
    <a href="/#contact"
       class="mdl-button
              mdl-js-button
              mdl-button--fab
              mdl-js-ripple-effect
              mdl-button--colored"
       id="about-button"
       title="Contact me"
       aria-label="Contact me">
      <i class="material-icons">
        contact_mail
      </i>
    </a>

  </div>

  <!-- Scroll to slide animation -->
  <div class="mdl-cell mdl-cell--12-col" id="mouse-cell">
    <div class="center-it">
      <div class="mouse"></div>
      <div class="caption">
        Scroll to View
      </div>
    </div>
  </div>
</div>