<h1 class="mdl-typography--display-2 page-topic mdl-color-text--primary" id="choose-topic">
  Choose which service you want to use.
</h1>

<div class="mdl-grid" id="edit-image-grid">
  <div class="mdl-cell mdl-cell--4-col">
    <a href="/choose/local" >
      <img src="/images/laptop.png" alt="Laptop" />
    </a>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <a href="/choose/google-drive" >
      <img src="/images/google-drive.png" alt="Google Drive logo" />
    </a>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <a href="/choose/dropbox" >
      <img src="/images/dropbox.png" alt="Dropbox logo" />
    </a>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <a href="/choose/onedrive" >
      <img src="/images/onedrive.png" alt="OneDrive logo" />
    </a>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <a href="/choose/selfie" >
      <img src="/images/selfie.png" alt="Selfie" />
    </a>
  </div>
</div>