<div id="editonline-page-container">

  <h1 class="mdl-typography--display-1 mdl-color-text--primary">
    You are viewing {{ title }}
  </h1>

  <span id="signout-button-field">
    <!-- Signout button added from "SignHandler.js" -->
  </span>

  <!-- Response messages will be shown here. -->
  <span id="user-message-field"></span>

  <div id="success-toast" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>

  <div id="need-to-login-text">
    You have to login to be able to load your Google Drive images.
    Only images in formats Png and Jpg/Jpeg will be shown.
    These are the formats the photo editor accepts.
  </div>

  <div class="g-signin2 mdl-layout--large-screen-only" id="signin-button"
       data-width="1024px"
       data-height="100px"
       data-longtitle="true"
       data-theme="dark"
       data-onsuccess="onSignIn">
  </div>

  <div id="loading-animation">
    <div class="sk-chasing-dots">
      <div class="sk-child sk-dot1"></div>
      <div class="sk-child sk-dot2"></div>
    </div>
    <p id="loading-animation-text">
      Loading images...
    </p>
  </div>

  <div id="google-info-text" class="mdl-color-text--primary mdl-typography--display-1">
    Your Google Drive images will be listed here.
  </div>

  <div class="mdl-grid" id="image-list">
    <!-- Images will be rendered from "GoogleDriveHandler.js" -->
  </div>

  <dialog class="mdl-dialog" id="confirm-dialog">
    <h4 class="mdl-dialog__title">
      Delete image?
    </h4>
    <div class="mdl-dialog__content">
      <span id="confirmation-text">
        <!-- Text is added from GoogleDriveHandler.js -->
      </span>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button mdl-color-text--primary confirm">
        Yes
      </button>
      <button type="button" class="mdl-button cancel" id="cancel-button">
        Cancel
      </button>
    </div>
  </dialog>

</div>