<div id="fullpage">
  <div class="section" data-anchor="home" id="home-section">
    <div class="main-container">
      {{> home }}
    </div>
  </div>
  <div class="section" data-anchor="editor" id="editor-section">
    <div class="main-container">
      {{> editor }}
    </div>
  </div>
  <div class="section" data-anchor="about" id="about-section">
    <div class="main-container">
      {{> about }}
    </div>
  </div>
  <div class="section" data-anchor="contact" id="contact-section">
    <div class="main-container">
      {{> contact }}
    </div>
  </div>
</div>