<div class="mdl-grid" id="index-grid">
  <div class="mdl-cell mdl-cell--12-col" id="logo-cell">
    <h1 class="mdl-typography--display-4 mdl-color-text--accent">
      Blippics
    </h1>
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    <a href="/editor" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
      <i class="material-icons">brush</i>
      Start editing
    </a>
    <a href="/about" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      <i class="material-icons">info_outline</i>
      About
    </a>
  </div>
</div>