<div class="mdl-grid" id="index-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="wrapper">
      <div class="clip-text clip-text_fourteen clip-text--cover">
        Blippics
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    <a href="/choose" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Start editing!
    </a>
  </div>
</div>