<!DOCTYPE html>
<html>
  <head>
    <title>Blippics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/custom.css" />
    <link rel="stylesheet" href="/framework/dist/material.brown-blue.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="/modules/fullpage.js/dist/jquery.fullpage.min.css" />
    <link rel="stylesheet" href="/modules/animate.css/animate.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,400" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400" />
  </head>
  <body>

    {{> header }}

    {{{ body }}}

    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">Title</div>
        <ul class="mdl-mini-footer__link-list">
          <li><a href="#">Help</a></li>
          <li><a href="#">Privacy & Terms</a></li>
        </ul>
      </div>
    </footer>

    <script src="/framework/material.min.js"></script>
    <script src="/modules/jquery/dist/jquery.min.js"></script>
    <script src="/modules/fullpage.js/dist/jquery.fullpage.min.js"></script>
    <script src="/modules/filepicker-js/dist/filepicker.min.js"></script>
    <script src='https://dme0ih8comzn4.cloudfront.net/imaging/v3/editor.js'></script>
    <script src="/builds/bundle.min.js"></script>

  </body>
</html>
