
/* GENERAL */

body {
  background-color: #ECEFF1;
}

header {
  position: fixed;
  z-index: 70;
}
.mdl-layout__header-row .mdl-navigation__link {
  padding: 0 !important;
}
.mdl-layout__header-row .mdl-navigation__link:not(:last-child) {
  margin-right: 24px !important;
}
#top-right-nav img {
  width: 32px;
}

.section {
  background-color: #90CAF9;
}

.main-container {
  max-width: 1024px;
  margin: 0 auto;
}


/* HOME */

#home-section {

}

#index-grid .mdl-cell {
  text-align: center;
}

#blippics-topic {
  font-family: 'Ubuntu', cursive;
  color: #E3F2FD;
  font-size: 14em;
}
#blippics-sub-topic {
  font-size: 38px;
  font-family: 'Ubuntu', cursive;
  color: #E3F2FD;
}
#button-cell {
  padding: 64px;
}
#button-cell a {
  margin: 12px;
}
#home-button {
  padding: 14px 22px;
  font-weight: bold;
  border-radius: 6px;
}

#about-button {
  width: 64px;
  height: 64px;
}


/* EDITOR */

#editor-section {
  background-image: url("../images/easel.png");
  background-repeat: no-repeat;
  background-size: 40%, cover;
  background-position: center bottom;
}

#editor-grid {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

#image-preview {
  width: 20vw;
  margin: 32px;
  border-radius: 3px;
}

#buttons-field {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 16px;
}


/* ABOUT */

#about-section {
  font-size: 18px;
}

#about-grid {
  padding: 24px;
}

#about-grid .mdl-cell {

}
#about-grid .mdl-cell:nth-child(3) {
  text-align: right;
}

#about-grid p {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
}

#worth-noting {
  font-weight: bold;
  text-decoration: underline;
  display: block;
  margin-top: 25px;
  margin-bottom: 5px;
}


/* CONTACT */

#contact-text {
  font-size: 18px;
  line-height: 1.5;
}

.contact-lists {
  max-width: 550px;
  margin: 0 !important;
}

.contact-lists img {
  width: 50px;
  margin-right: 15px;
}

#contact-text {
  max-width: 550px;
}

.mdl-list__item a {
  color: #757575 !important;
  text-decoration: none;
}


/* Background edge */

.quote {
  background: rgb(121,85,72);
  position: relative;
  z-index: 1;
  color: white;
  font-family: 'Fira Sans', sans-serif;
  margin: 50px 0;
  padding: 20px 40px;
}
.quote:before, .quote:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.quote:before {
  top: 0;
  -webkit-transform: skewY(1.5deg);
  transform: skewY(1.5deg);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.quote:after {
  bottom: 0;
  -webkit-transform: skewY(-1.5deg);
  transform: skewY(-1.5deg);
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
}
































/*
 * Code copied from: https://codepen.io/fatihturan/pen/VLbRGB/
 */
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes scroll {
  0% {
    -moz-transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(10px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

.caption {
  margin-top: 10px;
  text-align: center;
  font: 15px "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

.mouse {
  display: inline-block;
  height: 44px;
  width: 28px;
  border-radius: 12px;
  border: 2px solid white;
  text-align: center;
}
.mouse:after {
  display: inline-block;
  height: 8px;
  width: 8px;
  background-color: white;
  border-radius: 50%;
  content: "";
  -webkit-animation: scroll 1.3s ease-out infinite forwards;
  -moz-animation: scroll 1.3s ease-out infinite forwards;
  animation: scroll 1.3s ease-out infinite forwards;
}
